charset-normalizer==2.0.12
distlib==0.3.4
filelock==3.7.1
idna==3.3
platformdirs==2.5.2
protobuf==4.21.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
rsa==4.8
six==1.16.0
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.14.1
